:root {
  --flex-gap: 0.5rem; /* Variable for gap */
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

#container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.default {
  border-radius: 16px;
}

#calculator {
  width: 30%;
  height: 70%;
  background-color: grey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 32px;
  gap: 2rem;
}

#display {
  height: 30%;
  background-color: rgb(32, 32, 32);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 1em; */
}

.displayFont {
  color: rgb(214, 214, 214);
  margin-left: auto;
  padding-right: 5%;
}

#prevDisplay {
  font-size: 2em;
}

#currentDisplay {
  font-size: 6rem;
}

.displayFont.added {
  animation-name: pop;
  animation-duration: 0.3s;
}

@keyframes pop {
  from {
    font-size: 7rem;
  }
  to {
    font-size: 6rem;
  }
}

#inputs {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--flex-gap);
}

/* https://stackoverflow.com/questions/66240486/flex-gap-and-flex-wrap-with-percentages */
button {
  --flex-items: 4; /* Variable for number of items */
  flex-grow: 1;
  width: calc(
    (100% / var(--flex-items)) -
      (((var(--flex-items) - 1) / var(--flex-items)) * var(--flex-gap))
  );
  height: 5rem;
  cursor: pointer;
}
